@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron2">
    <div class="tlo">
        <img src="~/Images/jachty.jpg" width="100%">
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Jachty morskie</h2>
        <p>
            Jesteśmy na rynku morskim od 2021! Mamy już roczne doświadczenie w tej dziedzinie, nie pożałujesz wybierając nasze jachty!
        </p>
        <p><a class="btn btn-default" href="https://localhost:44308/Jachty/JM">Wypożycz jach morski &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Jachty śródlądowe</h2>
        <p>W 2022 wchodzimy również na rynek jachtów śródlądowych! Z naszym dotychczasowym doświadczeniem w branży, korzystanie z naszych usług to będzie czysta przyjemność.</p>
        <p><a class="btn btn-default" href="https://localhost:44308/Jachty/JSL">Wypożycz jacht śródlądowy &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Dalej się rozwijamy</h2>
        <p>Z każdym rokiem przybywa nam doświadczenia i wchodzimy na nowy rynek. W przyszłości planujemy rozszerzyć naszą działaność o wynajem skuterów i kajaków</p>
    </div>
</div>